---
layout: default
title: Home
---

<h1>Welcome to {{ site.title }}</h1>

<p>
  {{ site.description }} I enjoy I love all things tech, but mainly building
  user-friendly online services that make life easier for others, and improve
  your everyday online security. Current favourite programming languages are
  <a href="https://rubyonrails.org/" target="_blank" rel="noopener noreferrer"
    >Ruby on Rails</a
  >,
  <a href="https://www.rust-lang.org/" target="_blank" rel="noopener noreferrer"
    >Rust</a
  >
  and
  <a href="https://go.dev/" target="_blank" rel="noopener noreferrer">Go</a>.
</p>

<ul>
  {% for post in site.posts limit:5 %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <small>({{ post.date | date: "%Y-%m-%d" }})</small>
  </li>
  {% endfor %}
</ul>

<div class="site-links">
  <p>Visit my <a href="{{ site.url }}">main site</a> for more information.</p>
  {% if site.github_username %}
  <p>
    Check out my
    <a href="https://github.com/{{ site.github_username }}">GitHub profile</a>.
  </p>
  {% endif %}
</div>
