---
layout: default
title: Home
---

<h1>Welcome to {{ site.title }}</h1>

<p>This is the homepage. Here's a list of my latest posts:</p>

<ul>
  {% for post in site.posts limit:5 %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <small>({{ post.date | date: "%Y-%m-%d" }})</small>
  </li>
  {% endfor %}
</ul>

<div class="site-links">
  <p>Visit my <a href="{{ site.url }}">main site</a> for more information.</p>
  {% if site.github_username %}
  <p>
    Check out my
    <a href="https://github.com/{{ site.github_username }}">GitHub profile</a>.
  </p>
  {% endif %}
</div>
